<html lang="en">
  <head>
    <!-- Requidodgerblue meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/session.css">

    <title>Capstone</title>
  </head>
  <body>
    <nav class="navbar navbar-custom navbar-expand nav-justified">
      <a class="navbar-brand" href="#">Capstone</a>
    </nav>
    
    <div class="container-fluid">
      <br><br><br>
      <div class="row rowcustom justify-content-center align-self-center">
        <div class="col-md-auto">
          <h1><small>session</small><%= session.name %></h1>
        </div>
      </div>
      <br><br>
      <div class="row rowcustom justify-content-center align-self-center">
        <div class="col-6">
          <a class="btn btn-block btn-outline-primary" href='' role="button"><%= session.users %> <%= session %></a>

        </div>
      </div>
      <div class="row rowcustom justify-content-center align-self-center">
        <div class="col-6">
          <a class="btn btn-block btn-outline-warning" href="#" role="button">Listen</a>
        </div>
      </div>


    
    <footer class="page-footer">
      <p>add relevant footer text</p>
    </footer>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>
    </script>
    <script  src="/js/session.js"></script>
  </body>
</html>