html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, mediumseagreen, dodgerblue, tomato);
}

.navbar-custom{
  background-color: #12130F;
  opacity: 0.6;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
  color: white;
}

.navbar-brand{
  width: 100%;
  text-align: center;
}

.navbar-custom .navbar-nav .nav-link {
    color: #888888;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.site-wrapper{
}

.container-fluid{
  height: 100%;
  background: #12130F;
  opacity: 0.9;
}

.row{
  color: white;
  border-bottom: 1px solid #222222;
}

.col-2{
  background: #111111;
}

.col-4{
  background: #333333;
}

.col-6{
  background: #444444;
}

no-spinners {
-moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}

.page-footer{
  color: white;
  background: black;
  text-align: center;
  position: fixed;
  bottom: 0px;
  height: 20px;
  width: 100%;
  opacity: 0.85;
}