html,
body {
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom right, mediumseagreen, dodgerblue, tomato);
}

.site-wrapper{
}

.navbar-custom{
  background-color: #12130F;
  opacity: 0.6;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text{
  color: white;
}

.navbar-brand{
  width: 100%;
  text-align: center;
}

.navbar-custom .navbar-nav .nav-link {
    color: #888888;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff;
}

.container{
  margin-top: 24px;
  color: white;
}

.row{
  border-bottom: 1px solid #222222;
}

.col-md-auto{
  background: orange;
}

.col-1{
  background: #444444;
}

.col-2{
  background: #111111;
}

.col-4{
  background: #222222;
}

.col-5{
  background: #333333;
}

.page-footer{
  color: white;
  background: black;
  text-align: center;
  position: fixed;
  bottom: 0px;
  height: 20px;
  width: 100%;
  opacity: 0.85;
}